*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

html {
    font-family: 'Rosario', sans-serif;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    font-size: 62.5%;
  }

  $color-green:#16A085;
  $color-light:#fff;
  $color-darkred:#800000;